.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin:10px;
    align-items: center;
    padding-top: 30px;
    
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
   
}



.powerOff {
    border-radius: 8px;
    background-color: var(--blue-background);
    border-width: 2px;
    border-color:#fff;
    width: 60px;
    height: 60px;
    transition: 0.8s;
}

.powerOff:hover{
    cursor: pointer;
    transform: translateY(-10px);
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}





@media screen and (max-width: 800px){
    .header {
        flex-direction: column;
    }

    .buttons {
        margin-top: 40px;
        justify-content: center;
    }
}

@media screen and (max-width: 430px){
    .buttons {
        width: 100%;
        
    }
}



